:root {
    --unit-100vw: 100vw;
}
@supports (width: 100dvw) {
    :root {
        --unit-100vw: 100dvw;
    }
}



/* Allgemeines */
@font-face {
    font-family: "Tektur";
    src: url(Tektur-VariableFont_wdth\,wght.ttf) format(truetype);
    font-style: normal;
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
    min-width: var(--unit-100vw);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Tektur", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}

.anchor {
    display: block;
    height: 100px; /* oder die Höhe Ihrer Navigation */
    visibility: hidden;
}
header{
    height: 60px;
    width: var(--unit-100vw);
    position: fixed;
    top: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #849dff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.521);
    /* animation: linear forwards headerani; */
    /* animation-timeline: scroll(); */
    /* animation-range: 20px 400px; */
}
@keyframes headerani{
    0%{
        width: var(--unit-100vw);
        top: 0;
        left: 0;
    }
    50%{
        width: var(--unit-100vw);
        top: -70px;
        left: 0;
    }
    51%{
        top: -70px;
        width: 200px;
        border-radius: 30px;
        left: calc((var(--unit-100vw)/2) - 100px);
    }
    100%{
        top: 20px;
        width: 200px;
        border-radius: 30px;
        height: 50px;
        left: calc((var(--unit-100vw)/2) - 100px);
    }
}
header > h1{
    text-decoration: underline;
}
.content{
    width: var(--unit-100vw);
    margin-left: auto;
    margin-right: auto;
    border-inline: 1px solid #999;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.225); */
    position: relative;
    top: -70px;
    padding-top: 100px;
    padding-bottom: 100px;
}

h2{
    margin-left: -20px;
    color: rgb(0, 7, 138);
    text-decoration: underline;
}
h3{
    color: rgb(0, 9, 186);
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Übersicht */
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.links a{
    text-decoration: none;
    color: black;
    width: 300px;
    background-color: #849dff;
    /* box-shadow: 1px 1px 2px rgba(0, 138, 7, 0.332); */
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}
.links .Zwischenlink{
    width: 280px;
    margin-left: 20px;
    background-color: #84daff;
}
.links .Zwischenlink_{
    width: 260px;
    margin-left: 40px;
    background-color: #bce9ff;
}
.links a:hover{
    background-color: rgb(78, 109, 233);
}
.links .Zwischenlink:hover{
    background-color: rgb(62, 197, 255);
}
.links .Zwischenlink_:hover{
    background-color: #96dcff;
}
.links h2{
    margin-bottom: 20px;
}

/* Wurzelzeichen */
.root {
    display: inline-flex;
    align-items: flex-start;
    font-size: 24px;
}
.root-content {
    display: inline-block;
    border-top: 2px solid black;
    font-size: 0.6em;
    padding-top: 0.1em;
    margin-top: 7px;
    margin-left: -2px;
}

/* Pi */
.symbol{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.to_top{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: #9999998b;
    color: black;
    font-size: 8vh;
    font-weight: 100;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

/* Physikalische Größen */
.Physikalische_Größen{
    padding-inline: 50px;
    margin-top: 70px;
    margin-bottom: 100px;

    .anchor{
        height: 0px;
    }

    table{
        width: 650px;
        max-width: calc(100vw - 100px);
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

        th, td{
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
            text-align: center;
            min-height: 50px;
        }
        .last_one{
            border-right: none;
        }
        .last_row{
            border-bottom: none;
        }
        img{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            width: 100%;
        }
    }

    p{
        width: 80%;
    }
    img{
        width: 250px;
        height: 250px;
        max-width: 40vw;
        min-width: 20vw;
        min-height:20vw;
        max-height:40vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    @media screen and (orientation: portrait){
        .table{
            margin-left: 00px;

            td, th{
                font-size: 0.6rem;
            }
        }
        .table_{
            margin-left: 0;
            
        }
    }
}



.Aufbau_der_Stoffe_aus_Teilchen{
    padding-inline: 50px;
    margin-top: 70px;
    margin-bottom: 100px;

    .anchor{
        height: 0px;
    }

    table{
        width: 650px;
        max-width: calc(100vw - 100px);
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

        th, td{
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
            text-align: center;
        }
        .last_one{
            border-right: none;
        }
        .last_row{
            border-bottom: none;
        }
        img{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            width: 100%;
        }
    }

    p{
        width: 80%;
    }
    img{
        width: 250px;
        height: 250px;
        max-width: 40vw;
        min-width: 20vw;
        min-height:20vw;
        max-height:40vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

.Bewegung_von_Körpern{
    padding-inline: 50px;
    margin-top: 70px;
    margin-bottom: 100px;

    .anchor{
        height: 0px;
    }

    table{
        width: 650px;
        max-width: calc(100vw - 100px);
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

        th, td{
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
            text-align: center;
        }
        .last_one{
            border-right: none;
        }
        .last_row{
            border-bottom: none;
        }
        img{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            width: 100%;
        }
    }
    ul{
        margin-left: 50px;
        list-style-type: '- ';
    }

    p{
        width: 80%;
    }
    img{
        width: 250px;
        height: 250px;
        max-width: 40vw;
        min-width: 20vw;
        min-height:20vw;
        max-height:40vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.Kräfte_und_ihre_Wirkungen{
    padding-inline: 50px;
    margin-top: 70px;
    margin-bottom: 100px;

    .anchor{
        height: 0px;
    }

    table{
        width: 650px;
        max-width: calc(100vw - 100px);
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

        th, td{
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
            text-align: center;
        }
        .last_one{
            border-right: none;
        }
        .last_row{
            border-bottom: none;
        }
        img{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            width: 100%;
        }
    }
    ul{
        margin-left: 50px;
        list-style-type: '- ';
    }

    p{
        width: 80%;
    }
    img{
        width: 250px;
        height: 250px;
        max-width: 40vw;
        min-width: 20vw;
        min-height:20vw;
        max-height:40vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.mechanische_Schwingungen_und_Wellen{
    padding-inline: 50px;
    margin-top: 70px;
    margin-bottom: 100px;

    .anchor{
        height: 0px;
    }

    table{
        width: 650px;
        max-width: calc(100vw - 100px);
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

        th, td{
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
            text-align: center;
        }
        .last_one{
            border-right: none;
        }
        .last_row{
            border-bottom: none;
        }
        img{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            width: 100%;
        }
    }
    ul{
        margin-left: 50px;
        list-style-type: '- ';
    }

    p{
        width: 80%;
    }
    img{
        width: 250px;
        height: 250px;
        max-width: 40vw;
        min-width: 20vw;
        min-height:20vw;
        max-height:40vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.Mechanik_der_Flüssigkeiten_und_Gase{
    padding-inline: 50px;
    margin-top: 70px;
    margin-bottom: 100px;

    .anchor{
        height: 0px;
    }

    table{
        width: 650px;
        max-width: calc(100vw - 100px);
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

        th, td{
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;
            text-align: center;
        }
        .last_one{
            border-right: none;
        }
        .last_row{
            border-bottom: none;
        }
        img{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
            width: 100%;
        }
    }
    ul{
        margin-left: 50px;
        list-style-type: '- ';
    }

    p{
        width: 80%;
    }
    img{
        width: 250px;
        height: 250px;
        max-width: 40vw;
        min-width: 20vw;
        min-height:20vw;
        max-height:40vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
